.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh; 
  }
  
  .loader {
    border: 16px solid #f3f3f3; 
    border-top: 16px solid #db3469; 
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }