.breadcrumb {
    padding: 8px 15px;
    margin: 0;
    list-style: none;
    background-color: #f5f5f5;
    border-radius: 4px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    margin-bottom: 38px;
  }
  
  .breadcrumb-item {
    display: inline-block;
    margin-right: 5px;
    font-size: 14px;
  }
  
  .breadcrumb-item:last-child {
    font-weight: bold;
  }
  
  .breadcrumb-item a {
    color: #db3469;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .breadcrumb-item a:hover {
    color: #db3469;
  }
  
  .breadcrumb-item.active {
    color: #333;
  }
  
  .breadcrumb-item.active a {
    color: inherit;
    cursor: default;
  }
  
  .image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 58px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 72px;
    /* max-height: 450px; */
  }
  
  .image, .box {
    width: 100%;
    max-width: 400px;
    border-radius: 12px;
    margin-bottom: 20px;
  }
  
  .image {
    border-radius: 12px;
  }
  
  .box {
    background-color: #ffc8c82e;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  
  .image-details {
    text-align: center;
  }
  
  .image-author {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #333;
  }
  
  .image-info {
    margin: 5px 0;
    font-size: 1em;
    color: #555;
  }
  
  .image-info a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .image-info a:hover {
    color: #0056b3;
  }
  
  
  @media (max-width: 768px) {
    .box {
      padding: 10px;
    }
  
    .image-author {
      font-size: 1.2em;
    }
  
    .image-info {
      font-size: 0.9em;
    }
  }

  
  
  .loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh; 
  }
  
  .loader {
    border: 16px solid #f3f3f3; 
    border-top: 16px solid #db3469; 
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }