<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Details</li>
    </ol>
  </nav>
  <div *ngIf="!image; else content" >
    <app-loader></app-loader>
  </div>
  <ng-template #content>
  <div *ngIf="image" class="image-container">
    <img [src]="image.download_url" [alt]="image.author" class="image" />
    <div class="box">
    <div class="image-details">
      <h2 class="image-author">{{ image.author }}</h2>
      <p class="image-info"><strong>Width:</strong> {{ image.width }} px</p>
      <p class="image-info"><strong>Height:</strong> {{ image.height }} px</p>
      <p class="image-info">
        <strong>url:</strong>
        <a [href]="image.url" target="_blank">{{ image.url }}</a>
      </p>
      <p class="image-info">
        <strong>download url:</strong>
        <a [href]="image.download_url" target="_blank">{{ image.download_url }}</a>
      </p>
    </div>
  </div>
  </div>
  </ng-template>
  