.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #df5078;
    color: #fff;
    padding: 20px;
    text-align: center;
    height: 4px;
  }
  
.footer p {
  margin: -3px;
  font-size: 1em;
}
  .container {
    
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  .header {
    position: sticky;
    left: 0;
    right: 0;
    top: 0;
    font-family: 'Helvetica', sans-serif;
    background-color:#df5078;
    color: #fff;
    padding: 20px;
    font-size: 18px; 
    font-weight: bold; 
  }
  
  
  .header h1 {
    margin: 0;
    font-size: 2em;
  }