<div class="container">
  <header class="header">
    <h1>Author's Image Gallery</h1>
  </header>
  <div>
    <router-outlet></router-outlet>
  </div>
  
  <footer class="footer">
    <p>&copy; 2024 company name</p>
  </footer>
</div>