.main-content {
    flex: 1;
    padding: 20px;
  }
  .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
  }
  
  .image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.2s ease-in-out;
    flex: 1 1 calc(33.333% - 40px);
    box-sizing: border-box;
  }
  
  .image-container:hover {
    transform: scale(1.05);
  }
  
  .image-wrapper {
    width: 224px;
    height: 100px;
    background-color: #f0f0f0;
  }
  
  .image {
    display: block;
    width: 224px;
    height: 100px;
  }
  
  .image-area {
    font-size: 1.2em;
    color: #333;
    margin: 10px 0;
    padding: 10px;
    text-align: center;
    background-color: #fff;
    width: 100%;
    height: 100%;
  }
  
  @media (min-width: 768px) {
    .image-container {
      max-width: calc(16.333% - 40px);
    }
  }
  
  .breadcrumb {
    padding: 8px 15px;
    margin: 0;
    list-style: none;
    background-color: #f5f5f5;
    border-radius: 4px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  }
  
  .breadcrumb-item {
    display: inline-block;
    margin-right: 5px;
    font-size: 14px;
  }
  
  .breadcrumb-item:last-child {
    font-weight: bold;
  }
  
  .breadcrumb-item a {
    color: #db3469;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .breadcrumb-item a:hover {
    color: #db3469;
  }
  
  .breadcrumb-item.active {
    color: #333;
  }
  
  .breadcrumb-item.active a {
    color: inherit;
    cursor: default;
  }
  .parent-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
  }
  .search-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 75%;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 12px;
  }
  
  .search-input {
    margin-left: auto;
    flex-grow: 1;
    padding: 10px 15px;
    border: 2px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s, box-shadow 0.3s;
  }
  
  .search-input::placeholder {
    color: #999;
  }
  
  .search-input:focus {
    border-color: #db3469;
    box-shadow: 0 0 5px rgba(255, 0, 68, 0.5);
  }
  
  
  @media (max-width: 1024px) {
    .search-container {
      width: 90%;
    }
  
    .search-input {
      font-size: 14px;
      padding: 8px 12px;
    }
  }
  
  @media (max-width: 768px) {
    .parent-container {
      padding: 15px;
    }
  
    .search-container {
      width: 100%;
      padding: 8px;
    }
  
    .search-input {
      font-size: 14px;
      padding: 8px 10px;
    }
  }
  
  @media (max-width: 480px) {
    .search-input {
      font-size: 12px;
      padding: 6px 8px;
    }
  }
  
  