<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
    </ol>
  </nav>
  <main class="main-content">
    <div class="parent-container">
    <div class="search-container">
      <input
        type="text"
        [(ngModel)]="searchTerm"
        (ngModelChange)="filterImages()"
        placeholder="Search..."
        class="search-input"
      />
    </div>
  </div>
    <div class="gallery">
      <div
        class="image-container"
        *ngFor="let image of filteredImages"
        (click)="onImageClick(image.id)"
      >
        <div class="image-wrapper">
          <img [src]="image.download_url" [alt]="image.author" class="image" />
        </div>
        <p class="image-area">{{ image.author }}</p>
      </div>
    </div>
  </main>
  